<% title @appointment.page_title %>
<div id="confirmation" class="container clearfix">
	<div class="container_heading"><h2><%= "Meeting with #{@appointment.name}" %> is  <a href="" class="<%= @appointment.state %>"><%= @appointment.state %></a></h2></div>
	<div class="container_content clearfix">
		<div class="inner clearfix">
		<% form_for @appointment, :url => admin_appointment_path(@appointment) do |f| %>
			<%= f.hidden_field :cancelled %>
			<%= f.hidden_field :confirmed_date %>
			<%= f.hidden_field :requested_date %>
			<%= f.hidden_field :rejected %>						
			<div class="app_details clearfix">
       	<h5>Details</h5>
				<div class="app_form clearfix">
					<p><strong>Name</strong><span><%= @appointment.name %></span></p>					
					<p><strong>Phone</strong><span><%= @appointment.phone %></span></p>					
					<p><strong>Email</strong><span><%= @appointment.email %></span></p>										
					<p><strong>Date</strong><span class="date_confirm"><%= @appointment.appointment_date.to_s(:appointment_date) %></span></p>
					<p><strong>Time</strong><span><%= @appointment.appointment_date.to_formatted_s(:appointment_time) %></span></p>
					<p><strong>Brief</strong><span><%= @appointment.brief %></span></p>
					<p><strong>Venue</strong><span><%= f.text_field :venue %></span></p>
				</div>
			</div>
			<% if (@appointment.state == (:confirmed || :rescheduled) )%>
				<p class="align_right">
					<a href="" class="cancel action appointment_cancelled">Cancel this meeting</a>
				</p>
			<% elsif (@appointment.state == :unconfirmed )%>
				<p class="align_right">
					<a href="" class="cancel action appointment_confirmed_date">Confirm</a>
				</p>
				<p class="align_right">
					<a href="http://google.com" class="cancel action nosubmit">Reschedule</a>
				</p>			
				<p class="align_right">
					<a href="" class="cancel action appointment_rejected">Reject</a>
				</p>
				<% end %>
			<% end %>				
   	</div>
	</div>
	<div class="container_bottom"></div>
</div>