<% title current_account.title %>
<div id="registration" class="container clearfix">
  <div class="container_heading"><h2>Settings</h2></div>
  <div class="container_content clearfix">
    <div class="inner clearfix">
      <% semantic_form_for current_account, :url => settings_path, :html => { :multipart => true, :method => :put } do |f| %>
        <% f.inputs :class => "register" do %>
          <%= f.input :title, :label => "Name" %>
          <%= f.input :tagline %>
          <li class="string required subdomain" id="account_subdomain_input">
            <label for="account_subdomain">URL<abbr title="required">*</abbr></label><em class="url avail png_bg">Available</em><em class="url check png_bg">Checking</em><em class="url taken png_bg">Taken</em>http://<%= f.text_field :subdomain, :class => "short", :disabled => true %>.<%= AppConfig.host %>
          </li>
          <% f.semantic_fields_for (current_user == current_account.assistant ? :assistant : :user) do |u| %>
            <%= u.inputs :email %>
            <%= u.inputs :password, :as => :password %>
          <% end %>
          <% if current_account.logo? %>
            <li class="logo file" id="account_user_attributes_password_input">
              <label for="account_user_attributes_password">Logo<abbr title="required">*</abbr></label>
              <input id="account_logo" name="account[logo]" size="30" type="file" />
              <div class="clear"></div>
            </li>
            <li>
              <label for=""><abbr title="required"></abbr></label>
              <%= image_tag current_account.logo.url(:thumb), :alt => current_account.title %>
            </li>
          <% else %>
            <%= f.input :logo, :as => :file %>
          <% end %>
        <% end %>
        <% f.buttons do %>
          <%= f.commit_button "Save" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="container_bottom"></div>
</div>
