  <% title "Create an Appointment" %>
  <div id="person" class="container clearfix">
    <div class="container_top"></div>
        <div class="container_content clearfix">
          <div class="inner clearfix">
            <% if current_account.logo? %>
              <%= image_tag current_account.logo.url(:thumb), :class => "left", :alt => current_account.title %>
            <% end %>
          <div class="info">
              <h1><%= current_account %></h1>
                <p><%= current_account.tagline %></p>
            </div>
            </div>
        </div>
        <div class="container_bottom"></div>
    </div>

    <div id="app_submit" class="container clearfix">
    <div class="container_heading">
      <span class="current_date right">4th Nov 2009</span>
      <h3>What's a good time for you?</h3>
    </div>
        <div class="container_content clearfix">
          <% semantic_form_for @appointment do |f| %>
            <div class="inner clearfix">

              <div class="step">
                  <img src="/images/step_1.png" alt="step 1" class="left" />
									<h4>Pick a date &amp; time</h4>
									<%= render :partial => "shared/date_picker" %>
                </div>
                <div class="step">
                  <img src="/images/step_2.png" alt="step 1" class="left" />
                  <h4>Details &amp; Appointment Brief</h4>
                    <small>Your personal details and the brief of appointment.</small>

                    <div class="app_form">
											
                      <% f.inputs do %>
												<%= f.input :requested_date_chronic, :as => :hidden %>
                        <%= f.input :requested_date, :as => :string, :label => "Date", :input_html => { :name => 'request_date_dummy', :id => 'request_date_dummy', :disabled => true} %>
                        <%= f.input :name %>
                        <%= f.input :phone %>
                        <%= f.input :email %>
                        <%= f.input :brief %>
                      <% end %>
                    </div>
                </div>

            </div>
            <div class="break clearfix">
              <% f.buttons do %>
                <%= f.commit_button :button_html => { :id => "submit", :value => "&nbsp;" } %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="container_bottom"></div>
    </div>

