<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Meetme Index</title>

<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/formtastic.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/formtastic_changes.css" media="screen" />

<script src="/javascripts/cufon-yui.js" type="text/javascript"></script>
<script src="/javascripts/jquery-1.3.2.min.js" type="text/javascript"></script>
<script src="/javascripts/MgOpen_Modata_400.font.js" type="text/javascript"></script>
<script src="/javascripts/custom.js" type="text/javascript"></script>

<!--[if IE 6]>
<style type="text/css">
  .container_heading { margin-bottom: -10px;}
</style>
<script type="text/javascript" src="js/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
  /* EXAMPLE */
  DD_belatedPNG.fix('.png_bg');

  /* string argument can be any CSS selector */
  /* .png_bg example is unnecessary */
  /* change it to what suits you! */
</script>
<![endif]-->
</head>

<body>

<div class="wrapper">
  <div id="person" class="container clearfix">
      <div class="container_top"></div>
        <div class="container_content clearfix">
          <div class="inner clearfix">
            <img src="/images/meetme_07.png" alt="Dato' Abu Bakar" class="left" />
          <div class="info">
              <h1>Dato' Abu Bakar</h1>
                <p>Ahli Dewan Undangan Negeri (ADUN) . N53 Morib</p>
                <p class="align_right"><a href="http://twitter.com/kailoon" id="tw" class="png_bg">Twitter</a><a id="fb" href="http://twitter.com/kailoon" class="png_bg">Facebook</a></p>
            </div>
            </div>
        </div>
        <div class="container_bottom"></div>
    </div>

    <div id="app_submit" class="container clearfix">
    <div class="container_heading">
      <span class="current_date right">4th Nov 2009</span>
      <h3>What's a good time for you?</h3>
    </div>
        <div class="container_content clearfix">
          <% semantic_form_for @appointment do |f| %>
            <div class="inner clearfix">

              <div class="step">
                  <img src="/images/step_1.png" alt="step 1" class="left" />
                    <h4>Pick a date &amp; time</h4>
                    <small>Click on the date to select</small>
                    <div id="date_picker">
                    <ul>
                      <li><a href="#" class="selected png_bg">Thursday at 9am</a></li>
                      <li><a href="#">Friday at 10am</a></li>
                    </ul>
                    <small class="clearfix"><a href="" class="right">Next Week</a><a href="" class="left">Previous Week</a></small>
                    </div>
                </div>
                <div class="step">
                  <img src="/images/step_2.png" alt="step 1" class="left" />
                  <h4>Details &amp; Appointment Brief</h4>
                    <small>Your personal details and the brief of appointment.</small>

                    <div class="app_form">
                      <% f.inputs do %>
                        <%= f.input :requested_date, :as => :string, :label => "Date" %>
                        <%= f.input :name %>
                        <%= f.input :phone %>
                        <%= f.input :email %>
                        <%= f.input :brief %>
                      <% end %>
                    </div>
                </div>

            </div>
            <div class="break clearfix">
              <% f.buttons do %>
                <%= f.commit_button %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="container_bottom"></div>
    </div>

    <div id="credit">Copyright 2009. Meet.me.</div>

</div>

<script type="text/javascript"> Cufon.now(); </script>
</body>
</html>
