
  <div id="person" class="container clearfix">
    <div class="container_top"></div>
        <div class="container_content clearfix">
          <div class="inner clearfix">
            <img src="/images/meetme_07.png" alt="Dato' Abu Bakar" class="left" />
          <div class="info">
              <h1>Dato' Abu Bakar</h1>
                <p>Ahli Dewan Undangan Negeri (ADUN) . N53 Morib</p>
                <p class="align_right"><a href="http://twitter.com/kailoon" id="tw" class="png_bg">Twitter</a><a id="fb" href="http://twitter.com/kailoon" class="png_bg">Facebook</a></p>
            </div>
            </div>
        </div>
        <div class="container_bottom"></div>
    </div>

    <div id="app_submit" class="container clearfix">
    <div class="container_heading">
      <span class="current_date right">4th Nov 2009</span>
      <h3>What's a good time for you?</h3>
    </div>
        <div class="container_content clearfix">
          <% semantic_form_for @appointment do |f| %>
            <div class="inner clearfix">

              <div class="step">
                  <img src="/images/step_1.png" alt="step 1" class="left" />
                    <h4>Pick a date &amp; time</h4>
                    <small>Click on the date to select</small>
                    <div id="date_picker">
                    <ul>
                      <li><a href="#" class="selected png_bg">Thursday at 9am</a></li>
                      <li><a href="#">Friday at 10am</a></li>
                    </ul>
                    <small class="clearfix"><a href="" class="right">Next Week</a><a href="" class="left">Previous Week</a></small>
                    </div>
                </div>
                <div class="step">
                  <img src="/images/step_2.png" alt="step 1" class="left" />
                  <h4>Details &amp; Appointment Brief</h4>
                    <small>Your personal details and the brief of appointment.</small>

                    <div class="app_form">
                      <% f.inputs do %>
                        <%= f.input :requested_date, :as => :string, :label => "Date", :input_html => { :disabled => true} %>
                        <%= f.input :name %>
                        <%= f.input :phone %>
                        <%= f.input :email %>
                        <%= f.input :brief %>
                      <% end %>
                    </div>
                </div>

            </div>
            <div class="break clearfix">
              <% f.buttons do %>
                <%= f.commit_button :button_html => { :id => "submit", :value => "&nbsp;" } %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="container_bottom"></div>
    </div>

