<% title "Create Your FREE Appointment System" %>
<div id="registration" class="container clearfix">
  <div class="container_heading"><h2>Create Your Own Appointment System</h2></div>
  <div class="container_content clearfix">
    <div class="inner clearfix">
      <% semantic_form_for @account, :html => { :multipart => true } do |f| %>
        <% f.inputs :class => "inputs register" do %>
          <%= f.input :title, :label => "Name" %>
          <%= f.input :tagline %>
          <%= f.input :subdomain, :label => "URL" %>
          <% f.semantic_fields_for :user_attributes do |u| %>
            <%= u.inputs :email %>
            <%= u.inputs :password, :as => :password %>
          <% end %>
          <%= f.input :logo, :as => :file %>
          <% f.semantic_fields_for :assistant_attributes do |a| %>
            <%= a.input :email, :label => "Assistant Email" %>
            <%= a.input :password, :as => :hidden, :value => Haddock::Password.generate %>
          <% end %>
        <% end %>
        <% f.buttons do %>
          <%= f.commit_button :button_html => { :value => "Sign Up" } %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="container_bottom"></div>
</div>
