<% title "Create Your FREE Appointment System" %>
<div id="registration" class="container clearfix">
  <div class="container_heading"><h2>Create Your Own Appointment System</h2></div>
  <div class="container_content clearfix">
    <div class="inner clearfix">
      <% semantic_form_for @account, :html => { :multipart => true } do |f| %>
        <% f.inputs :class => "register" do %>
          <%= f.input :title, :label => "Name" %>
          <%= f.input :tagline %>
          <li class="string required subdomain" id="account_subdomain_input">
            <label for="account_subdomain">URL<abbr title="required">*</abbr></label><em class="url avail png_bg">Available</em><em class="url check png_bg">Checking</em><em class="url taken png_bg">Taken</em>http://<%= f.text_field :subdomain, :class => "short" %>.<%= AppConfig.host %>
          </li>
          <% f.semantic_fields_for :user_attributes do |u| %>
            <%= u.inputs :email %>
            <%= u.inputs :password, :as => :password %>
          <% end %>
          <%= f.input :logo, :as => :file %>
          <% f.semantic_fields_for :assistant_attributes do |a| %>
            <%= a.input :email, :label => "Assistant Email" %>
            <%= a.input :password, :as => :hidden, :value => 'changeme' %>
          <% end %>
        <% end %>
        <% f.buttons do %>
          <%= f.commit_button :button_html => { :value => "&nbsp;", :id => "free-registration" } %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="container_bottom"></div>
</div>
